/*Back ground on Page index.php*/
#Page {
    background-image: url("../images/black-background-wallpapers.jpg");
    background-repeat: no-repeat;   
    background-size: cover; 
    padding: 10px; 
    height: 100%; 
}

#Page_purchase_list { /* Css for Product Add page body */
	
    background-image: url("../images/black-background-wallpapers.jpg");   /*background image */ 
    background-repeat: no-repeat; /*background image will never repeat*/
    background-size: cover; /*background size will be cover*/
    padding: 50px; /*image padding 10 px in all side*/
    height: 2000px;/*image height will be 900px*/
}

/*product_list.php*/
#searchBox{
	width: 60%;
	border-radius: 5px;
	height:40px;
}

/*product_list.php   search button*/
#search2{
	border-radius: 5px;
	height:40px;
}


/* welome paragraph */
h1{
	padding-top:200px;
	height: 900px;
	text-align: center; 
	color: white;
}

